@use 'styles/index' as *;

.modal-backdrop {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-modalBackdrop;
  width: 100%;
  height: 100%;
  display: none;

  &.showModal {
    display: block;
  }
}
