@use 'styles/index' as *;

.MuiTableCell-root {
  .cell-variant {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;

    &__start {
      background-color: $primary-500;
    }

    &__waiting {
      background-color: $warning-400;
    }

    &__complete {
      background-color: $success-400;
    }

    &__error {
      background-color: $danger-400;
    }
  }
}
