@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&family=Inter:wght@100;300;400;500;600;700&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Epilogue', 'helvetica', sans-serif !important;
// }

p,
div,
span,
small,
label {
  font-family: 'Inter', 'helvetica', sans-serif !important;
}
