@use 'variables' as *;

@mixin for-mobile-down {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}
