// screens
$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;
$screen-xl-up: 1400px;

// colors
$white: #fff;

$red: #6b2323;

$gray: #edf2f7;
$gray-100: #dbdfe3;
$gray-200: #c6c9cd;
$gray-300: #a9abae;
$gray-400: #898a8c;
$gray-500: #6e6f70;

$blue: #2d92f0;
$primary-blue: #3182ce;
$secondary-blue: #2a4365;

// shadow
$shadow-black: rgba(0, 83, 125, 0.1);
