// screens
$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;
$screen-xl-up: 1400px;

// colors
$white: #fff;

$red: #6b2323;

$gray: #edf2f7;

$blue: #3182ce;
$dark-blue: #2a4365;

// shadow
$shadow-black: rgba(0, 83, 125, 0.1);
