@use 'styles/index' as *;

.table-toolbar {
  background-color: $neutral-700;
  color: $white;
  border-top-left-radius: $radius-m;
  border-top-right-radius: $radius-m;
  padding: 0 16px !important;

  &__delete {
    padding-right: 20px;

    svg {
      fill: $danger-500;
    }
  }
}
