@use 'styles/index' as *;

.sidebar {
  font-family: 'Inter', sans-serif;
  height: 100%;
  position: relative;
  padding: 16px;

  &-info {
    padding: 16px 10px;
    box-shadow: $shadow-s;
    border-radius: $radius-m;
    margin-bottom: 16px;
    gap: 12px;

    &__logo {
      min-width: 40px;
      height: 40px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__user {
      .username {
        font-size: 18px;
        color: $neutral-900;
        margin-bottom: 4px;
        font-weight: 700;
        white-space: nowrap;
      }

      .role {
        font-size: 12px;
        color: $neutral-600;
      }
    }
  }

  &-list {
    &__section {
      .sidebar-item {
        height: 44px;
        padding: 0 16px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: $radius-m;
        transition: background-color 0.1s linear;
        cursor: pointer;
        overflow: hidden;

        svg {
          width: 24px;
          height: 24px;
          fill: $neutral-600;
        }

        span {
          font-size: 14px;
          color: $neutral-600;
          white-space: nowrap;
        }

        &:hover {
          background-color: $primary-150;
        }

        &.active {
          background-color: $primary-500;

          svg {
            fill: $white;
          }

          span {
            color: $white;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .section-divider {
        width: 100%;
        height: 1px;
        background-color: $neutral-300;
        margin: 25px 0;
      }
    }
  }
}
